/*
Theme Name: Powen Lite Child
Author: Gina Suci
Description: Powen Lite has been specially designed for blogging websites however due to its clean design and plenty of customization options, it can easily be customized for any purpose.
Version: 0.1.0
Template: powen-lite
*/

/*page-template-page-template page-template-full-width page-template-page-templatefull-width-php logged-in admin-bar siteorigin-panels siteorigin-panels-home gecko windows powen-single-author masthead-fixed customize-support*/

.powen-main-nav {
  display: none;
}

header#masthead.site-header {
  background-color: #000;
}

  header#masthead.site-header {
  background-color: #000;
/*
  position: fixed;
  z-index: 1;
  width: 100%;
*/
}

i.fa {
    color: #BCA9A9;
}

i.fa:hover {
    color: #e6b800;
}

.powen-search-box-top input[type="search"] {
    border-radius: 20px;
    box-shadow: none;
}

/*BODY*/
#panel-41-3-0-0.so-panel.widget h1 {
    font-family: 'Righteous', cursive;
}

.panel-grid-cell .panel-last-child {
  margin-top: -52px;
/*  margin-left: 0px;*/
  background-color: transparent;
  padding-bottom: 50px;
}

.entry-footer {
  display: none;
}

.entry-title {
  display: none;
}

.widget-title {
  margin-bottom: -20px;
}

.widget-area li {
  margin-bottom: -15px;
}

h2.entry-title {
  display: none;
}

#panel-120-0-0-0.so-panel.widget .siteorigin-widget-tinymce.textwidget {
  margin-top: -30px;
}

#pg-120-1.panel-grid {
  margin-top: -30px;
  margin-bottom: -20px;
}

.article-hentry {
  background-color: transparent;
/*  margin-top: -30px;*/
}

header.entry-header {
  display: none;
}

.pull-request-integrations-body {
  color: #ffffff;
  font-size: 16px;
  margin-top: 40px;
}

/*divider*/
#pg-41-0.panel-grid {
    padding-bottom: 50px;
}

#pg-41-2.panel-grid {
    padding-top: 50px;
}

/*icon*/
#pg-41-1.panel-grid {
    margin-left: -100px;
    margin-right: -100px;
}

#pg-41-1.panel-grid .sow-icon-fontawesome {
    margin-left: -0.54em;
}

/*headline*/
#pg-41-4.panel-grid .siteorigin-panels-stretch.panel-row-style {
    margin-top: -30px;
    margin-bottom: -70px;
}

/*description*/
#pg-41-6.panel-grid .siteorigin-panels-stretch.panel-row-style,
#pg-41-7.panel-grid .siteorigin-panels-stretch.panel-row-style {
    margin-top: -30px;
}

/*post carousel*/
#pg-41-10.panel-grid .siteorigin-panels-stretch.panel-row-style {
    margin-bottom: -80px;
    padding-bottom: 40px;
}

/*#SLIDER*/
/*
.slick-slider {
  padding-top: 60px;
}
*/

.powen-slider-description {
  padding-top: 10px;
}

/*
.powen-slide:hover .powen-slider-content {
  margin-bottom: -20px;
}
*/

/*
OURTEAM
#sc_our_team.grid_circles .sc_team_member .sc_team_member_inner .sc_team_member_name,
#sc_our_team.grid_circles .sc_team_member .sc_team_member_inner .sc_team_member_jobtitle {
    display: none;
}

#sc_our_team .sc_team_member .sc_team_more img {
  margin-top: -27px;
}

.panel-grid-cell .widget-title {
  margin-bottom: 20px;
}

#pg-79-2.panel-grid .textwidget {
    margin-left: 48px;
}
*/

/*TESTIMONI*/
.widget {
    background-color: transparent;
}

#pg-41-9.panel-grid .siteorigin-panels-stretch.panel-row-style {
    margin-top: -30px;
}

/*FOOTER*/
.first.quarter.left.widget-area h3.widget-title,
.second.quarter.widget-area h3.widget-title,
.fourth.quarter.right.widget-area h3.widget-title {
  padding-bottom: 20px;
}

.first.quarter.left.widget-area p {
    padding-top: 0.625rem;
}

#site-info.site-info {
  background-color: #000000;
}

.powen-footer-site-info {
  color: #fff;
}

.site-info a {
  color: #ffffff;
}

.entry-footer {
  margin-bottom: -20px;
}

/*FONT AWESOME*/

i{
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
color: firebrick;
font-size: 8em;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/*CONTACT*/
#panel-2-0-0-0.so-panel h3.widget-title {
    font-size: 3em;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"], 
.wpcf7 textarea {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 90%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

.wpcf7 textarea {
    max-width: 97.5%;
}

input[type="text"],
input[type="email"],
textarea {
    color: rgba(0, 0, 0, 0.53);
    text-indent: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    color: black
}

textarea {
    padding: 8px 0px 0px;
    line-height: 1.1;
}

.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus, 
.wpcf7 textarea:focus {
    border-bottom: solid firebrick;
}

.column-left {
    float: left; width: 33%;
}

.column-right {
    float: right; width: 33%;
}

.column-center {
    display: inline-block; width: 33%;
}

#wpcf7-f4-p2-o1.wpcf7 .wpcf7-form {
    font-size: 1.25em;
}

#panel-2-1-0-0.so-panel i,
#panel-2-1-0-0.so-panel p {
    font-size: 1.25em;
    padding-top: 5px;
}
